.wraper {
  display: none;
  height: 100%;
  width: 100%;
  position: relative;
}

.input {
  height: 50px;
  padding-left: 55px;
  font-weight: 600;
  font-size: 16px;
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 25px;
}

.icon {
  font-size: 190%;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.desktopIcon {
  left: 15px;
}

.modalIcon {
  left: 30px;
}

.mobileIcon {
  font-size: 200%;
  cursor: pointer;
}

.mobileInput {
  height: 100%;
  padding-left: 55px;
  font-weight: 600;
  font-size: 20px;
  font-family: inherit;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .wraper {
    display: block;
  }

  .mobileIcon {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1289) {
  .input {
    width: 100%;
  }
}
