.list {
  position: relative;
  margin-top: 77px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  justify-content: space-between;
  overflow: clip !important;
  overflow-clip-margin: 26px;
}

.card {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.image {
  border-radius: 7px;
  margin: 0 auto;
}

.title {
  width: 471px;
  color: #ffd439;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-cinzel);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.3px;
}

.relativeWrap {
  position: relative;
}

.leftArrow {
  position: absolute;
  width: 45px;
  top: 270px;
  left: -7px;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 270px;
  right: -25px;
  cursor: pointer;
}
