.rightSide {
  width: 90%;
  padding: 30px 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
}

.heading {
  font-size: 17px;
  margin-bottom: 20px;
}

.label {
  font-size: 14px;
}

.input {
  height: 40px;
  font-size: 15px;
  background-color: inherit;
}

.button {
  font-size: 16px;
  font-weight: 500;
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms ease-out, border-color 250ms ease-out, color 250ms ease-out;
}

.flagWrap {
  display: flex;
  align-items: center;
  gap: 7px;
}

.flag {
  font-size: 20px;
  line-height: 20px;
}

.headingMargin {
  margin-top: 20px;
}

.backWrap {
  margin: 15px;
  display: flex;
  align-items: baseline;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 18px;
  }

  .headingMargin {
    margin-top: 30px;
  }

  .rightSide {
    margin-top: 30px;
  }

  .label {
    font-size: 15px;
  }

  .input {
    height: 53px;
    font-size: 16px;
  }

  .button {
    font-size: 18px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .backWrap {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .rightSide {
    margin: 0 50px 0 0;
    min-width: 620px;
  }

  .headingMargin {
    margin-top: 50px;
  }

  .heading {
    font-size: 18px;
  }

  .label {
    font-size: 16px;
  }

  .input {
    height: 58px;
    font-size: 17px;
  }

  .button {
    font-size: 19px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .flag {
    font-size: 25px;
    line-height: 25px;
  }
}
