.wrap {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 20px;
}

.window {
  width: 150px;
  padding: 30px 30px 15px 30px;
  color: var(--text-main-dark);
  background-color: var(--bg-color-dark);
}

.windowLight {
  width: 150px;
  padding: 30px;
  color: var(--text-main-light);
  background-color: var(--bg-color-light);
}

.profileList {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 18px;
}

.profileListLight {
  color: var(--text-hover-dark);
  transition: color 250ms ease-out;
}

.profileListLight:hover,
.profileListLight:focus {
  color: rgb(2, 106, 204);
}

.profileListDark {
  color: rgb(51, 156, 253);
  transition: color 250ms ease-out;
}

.profileListDark:hover,
.profileListDark:focus {
  color: rgb(32, 120, 214);
}

.modalTitle {
  font-size: 15px;
  color: var(--text-main-light);
}

.modalTitleDark {
  font-size: 15px;
  color: var(--text-main-dark);
}

.text,
.confirmDesktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .text {
    display: block;
  }

  .profileList {
    font-size: 20px;
  }

  .modalTitle {
    font-size: 18px;
  }

  .modalTitleDark {
    font-size: 18px;
  }

  .confirmDesktop {
    display: block;
  }

  .confirmMobile {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .profileList {
    font-size: 22px;
  }

  .modalTitle {
    font-size: 22px;
  }

  .modalTitleDark {
    font-size: 22px;
  }
}
