.container {
  padding: 30px 50px 80px 50px;
}

.title {
  font-family: var(--font-cinzel);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  color: #ffd439;
}

.upperWrap {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.inputWrap {
  width: 245px;
  display: flex;
  align-items: first center;
  gap: 20px;
  cursor: pointer;
}

.input {
  width: 0px;
  height: 30px;
  padding-bottom: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #82efee;
  font-family: var(--font-roboto);
  font-size: 18px;
  background-color: transparent;
  color: #fff;

  -webkit-transition: width 0.55s ease;
  -moz-transition: width 0.55s ease;
  -ms-transition: width 0.55s ease;
  -o-transition: width 0.55s ease;
  transition: width 0.55s ease;
}

.input::placeholder {
  color: #65737e;
}

.input::-webkit-search-cancel-button {
  filter: invert(100%) sepia(20%) saturate(90%) hue-rotate(90deg);
}

.input:focus,
.input:active {
  outline: none;
  width: 200px;
}

.inputWrap:hover .input {
  width: 200px;
}

.buttonsWrap {
  display: flex;
  gap: 30px;
}

.allPostsButton {
  font-family: var(--font-roboto);
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #82efee;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  padding: 0.75em;
}

.allPostsButton::before,
.allPostsButton::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}

.allPostsButton::before {
  border-top: 0.2em solid #367d7c;
  border-bottom: 0.2em solid #367d7c;
  transform: scale3d(0, 1, 1);
}

.allPostsButton::after {
  border-left: 0.2em solid #367d7c;
  border-right: 0.2em solid #367d7c;
  transform: scale3d(1, 0, 1);
}

.allPostsButton:hover::before,
.allPostsButton:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 900ms;
}

.postsWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.post {
  display: inline-block;
  height: 486px;
  width: 320px;
  position: relative;
}

.post::before,
.post::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}

.post::before {
  border-top: 0.2em solid #c9ac1a;
  border-bottom: 0.2em solid #c9ac1a;
  border-radius: 10px;
  transform: scale3d(0, 1, 1);
}

.post::after {
  border-left: 0.2em solid #c9ac1a;
  border-right: 0.2em solid #c9ac1a;
  border-radius: 10px;
  transform: scale3d(1, 0, 1);
}

.post:hover::before,
.post:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 900ms;
}

.postTitle {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-roboto);
  font-size: 18px;
  text-align: center;
  padding: 20px;
  color: #ffd439;
}
