.button {
  height: 30px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  margin: 20px auto 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01509a;
  color: #01509a;
  border-radius: 0;
  transition: all 250ms ease-out;
}

.button:hover,
.button:focus {
  border-bottom-color: #339cfd;
  color: #339cfd;
}

.modal {
  padding: 20px;
}

.imageWrap {
  width: 120px;
  margin: 15px auto 30px auto;
}

.backWrap {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  cursor: pointer;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  font-family: var(--font-montserrat);
  line-height: 1.31;
}

.text {
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;
  font-family: var(--font-montserrat);
  line-height: 1.31;
}

.input {
  margin: 0 auto 30px auto;
  width: 80%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.link {
  font-size: 12px;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.formItem {
  margin-left: 12px;
  width: 250px;
}

.margin {
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .button {
    font-size: 18px;
    height: 35px;
  }

  .margin {
    margin-top: 30px;
  }

  .title {
    font-size: 17px;
  }

  .text {
    font-size: 15px;
  }

  .link {
    font-size: 14px;
  }

  .backWrap {
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    margin-left: 15px;
    margin-top: 25px;
  }

  .margin {
    margin-top: 0;
  }

  .title {
    font-size: 19px;
  }

  .text {
    font-size: 17px;
  }

  .link {
    font-size: 16px;
  }

  .backWrap {
    font-size: 17px;
  }
}
