.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.li {
  margin-right: 90px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.li img {
  transition: filter 0.3s ease; /* Анимация для фильтра размытия */
}

.li:hover img {
  filter: blur(5px); /* Применение размытия при наведении */
}

.li:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  color: white;
  padding: 5px;
  border-radius: 5px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  white-space: nowrap;
  opacity: 0;
  font-size: 0;
  transition: opacity 0.3s ease, font-size 0.3s ease;
}

.li:hover::after {
  opacity: 1;
  font-size: 50px; /* Увеличение размера шрифта до 50px при наведении */
  transition: opacity 0.3s ease, font-size 0.3s ease;
}
.li:not(:last-child) {
  margin-left: 0;
}

.image-left {
  margin-right: 10px;
}

.image-right {
  margin-left: 10px;
}
.link:not(:last-child) {
  margin-right: 100px;
}
.body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background-color: #030c0e;
}
