.container {
  display: flex;
}
.img {
  width: 45vw;
  height: 120vh;
}

.list_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.title {
  margin-top: 25%;
  color: #ffd439;
  font-family: Cinzel;
  font-size: 45px;
}
.text {
  color: white;
}
.text_subscribers {
  color: rgb(130, 239, 238);
}
.text_star {
  color: red;
}
.socialIcons {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 30px 0;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  padding: 0;
  list-style: none;
}

.socialIcons li {
  margin: 0 10px; /* Простір між елементами */
}

.socialIcons li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  /* background: radial-gradient(circle, #1b4b4a 0%, #232121 100%); */
  transition: 0.5s;
}

.socialIcons li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.socialIcons li a .fab {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}
.link {
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}

.linkWithIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hoverLink {
  cursor: pointer;
  background-image: linear-gradient(to right, #82efee, #82efee 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}

.hoverLink:hover {
  background-position: 0;
}
.input {
  padding-left: 20px;
  height: 90%;
  width: 99.5%;
  border: 0;
  outline: 0;
  border-radius: 10px;
  background: linear-gradient(45deg, #031311, #093f38);
  color: white;
}
.input::placeholder {
  color: white;
}
.gradient {
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 212, 57));
  height: 50px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.btn_gradient_next {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(130, 239, 238));
  height: 43px;
  width: 163px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(45deg, #031311, #03211d);
  border-radius: 10px;
  height: 40px;
  width: 160px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.button:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}

.button:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}
.gradientError {
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(226, 31, 9));
  height: 50px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.img_back {
  display: flex;
  margin-top: 30px;
  margin-left: 60px;
  cursor: pointer;
}
