.container {
  display: flex;
}
.divform {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-left: 150px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.input {
  font-family: Robototo;
  border-radius: 10px;
  margin-top: 35px;
  width: 320px;
  height: 40px;
  padding: 0 15px;
  font-size: 15px;
  background: radial-gradient(circle, #1b4b4a 0%, #232121 100%);
  color: white;
  border: 1px solid transparent; /* Додаємо товщину границі */
  background-clip: padding-box; /* Границя обмежена відступом padding */
  box-sizing: border-box; /* Рахунок ширини границі як частина загальної ширини елемента */

  /* Градієнтний бордер */
  border-image: radial-gradient(circle at center, #ffd439 70%, #000000 80%, #000000 100%);
  border-image-slice: 1; /* Слайсінг градієнта на весь бордер */
}
.input::placeholder {
  color: white;
}

.button {
  display: flex;
  align-items: center;
  position: relative;
  background-color: black;
  border-radius: 10px;
  height: 40px;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  border: 1px solid transparent; /* Додаємо товщину границі */
  background-clip: padding-box; /* Границя обмежена відступом padding */
  box-sizing: border-box; /* Рахунок ширини границі як частина загальної ширини елемента */

  /* Градієнтний бордер */
  border-image: radial-gradient(circle at center, #82efee 70%, #000000 80%, #000000 100%);
  border-image-slice: 1; /* Слайсінг градієнта на весь бордер */
}

.button_back {
  margin-right: 135px;
}
.button:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}

.button:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}
.title {
  margin-top: 25%;
  margin-left: 25%;
  color: #ffd439;
}
.checkbox {
  margin-top: 20px;
  /* margin-bottom: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
}
.checkbox_input {
  margin-right: 10px;
  cursor: pointer;
}
.divCheckbox {
  margin-bottom: 50px;
}
.terms_link {
  margin-left: 5px;
}
.inputContainer {
  display: flex;
  justify-content: space-between; /* Розташувати елементи один навпроти іншого */
}
.label_div {
  margin-right: 25px;
}
.link {
  margin-right: 5px;
  color: #3366bb;
}
.cont_button {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.error {
  display: flex;
  justify-content: center;
  color: red;
  font-family: serif;
  font-size: 13px;
}
.inputError {
  font-family: Robototo;
  border-radius: 10px;
  margin-top: 35px;
  width: 320px;
  height: 40px;
  padding: 0 15px;
  font-size: 15px;
  background: radial-gradient(circle, #1b4b4a 0%, #232121 100%);
  color: white;
  border: 1px solid transparent; /* Додаємо товщину границі */
  background-clip: padding-box; /* Границя обмежена відступом padding */
  box-sizing: border-box; /* Рахунок ширини границі як частина загальної ширини елемента */

  /* Градієнтний бордер */
  border-image: radial-gradient(circle at center, #f10505 70%, #000000 80%, #000000 100%);
  border-image-slice: 1; /* Слайсінг градієнта на весь бордер */
}
.errorText {
  display: none;
}
.checkboxInputError {
  border: 1px solid red; /* або інші стилі для підсвічування червоним кольором */
}
