.model__container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 500px;
  background-color: transparent;
  z-index: 1;
  pointer-events: none;
}

.sphere__container {
  width: 250px;
  height: 250px;
  left: 50%;
  transform: translateX(-30%);
  position: absolute;
  pointer-events: none;
}

.button__container {
  width: 100%;
}
