.iconOpened {
  padding: 5px;
  color: var(--text-hover-dark);
  border: 1px solid var(--text-hover-dark);
  border-radius: 7px;
}

.icon {
  font-size: 200%;
}

.window {
  width: 250px;
  padding: 10px;
  background-color: var(bg-color-dark);
}

.header {
  font-size: 18px;
  color: rgb(51, 156, 253);
  transition: color 250ms ease-out;
}

.header:hover,
.header:focus {
  color: rgb(32, 120, 214);
}

.headerLight {
  font-size: 22px;
  color: var(--text-hover-dark);
  transition: color 250ms ease-out;
}

.headerLight:hover,
.headerLight:focus {
  color: rgb(2, 106, 204);
}

@media screen and (min-width: 768px) {
  .icon {
    font-size: 260%;
  }

  .window {
    width: 350px;
    padding: 30px;
  }

  .header {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    font-size: 22px;
  }
}
