.switcher {
  width: 90px;
  display: inline-flex;
  padding: 0.325rem;
  column-gap: 0.325rem;
  border-radius: 7px;
}

.switcher__dark {
  background-color: rgba(51, 156, 253, 0.1);
}
.switcher__light {
  background-color: rgba(1, 80, 154, 0.1);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  width: 50px !important;
  height: 40px;
}

.button__dark_active {
  background-color: rgb(51, 156, 253);
  color: rgb(255, 255, 255);
}

.button__dark_active:hover {
  background-color: rgb(51, 156, 253) !important;
  color: rgb(255, 255, 255) !important;
}

.button__light_active {
  background-color: rgb(255, 177, 85);
  color: rgb(255, 255, 255);
}

.button__light_active:hover {
  background-color: rgb(255, 177, 85) !important;
  color: rgb(255, 255, 255) !important;
}

@media screen and (min-width: 768px) {
  .switcher {
    width: 110px;
  }

  .button {
    height: 50px;
  }
}
