.green_text {
    color: #82efee;
  }

  
.title {
    z-index: 2;
    position: relative;
    font-size: 52px;
    width: 621px;
    line-height: 2.35;
    text-align: center;
    margin-top: 65px;
  }