.card {
  padding: 15px;
  width: 230px;
  height: 150px;
  border-radius: 8px;
  transition: scale 250ms ease-out, box-shadow 250ms ease-out;
}

.card:hover,
.card:focus {
  scale: 1.08;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.menuWrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-bottom: 50px;
}

.menuItem {
  font-size: 14px;
  cursor: pointer;
}

.filtersButton {
  margin-bottom: 35px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 250ms ease-out;
}

.desktopList,
.tabletSmallList,
.tabletList {
  display: none;
}

.mobileList {
  display: block;
  width: 250px;
  margin: 0 auto 20px auto;
}

@media screen and (min-width: 600px) {
  .mobileList {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .tabletSmallList {
    display: block;
    width: 500px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 768px) {
  .menuItem,
  .filtersButton {
    font-size: 15px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1279px) {
  .tabletList {
    display: block;
    width: 750px;
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 1280px) {
  .menuItem,
  .filtersButton {
    font-size: 16px;
  }

  .desktopList {
    display: block;
    width: 1000px;
    margin: 0 auto 30px auto;
  }

  .tabletList,
  .tabletSmallList {
    display: none;
  }
}
