.wrapDesktop {
  margin-top: 30px;
  display: none;
}

.wrapMobile {
  margin-top: 30px;
}

.leftSide {
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border-radius: 7px;
  height: 100%;
}

.avatarWraper {
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background: conic-gradient(
    from -35.18deg at 50% 50%,
    #006ccf -154.36deg,
    #ff5252 24.13deg,
    #ffb155 118.76deg,
    #006ccf 205.64deg,
    #ff5252 384.13deg
  );
}

.avatarMobile {
  display: flex;
  width: 95px;
  height: 95px;
  margin: 0 auto 20px auto;
}

.avatarDesktop {
  display: none;
}

.upload {
  position: absolute;
  top: 65px;
  right: 0;
  font-size: 180%;
  z-index: 1000;
  cursor: pointer;
}

.text {
  margin-bottom: 15px;
  text-align: center;
  font-family: var(--font-montserrat);
}

.name {
  font-size: 16px;
}

.nickName {
  font-size: 15px;
}

.area {
  font-size: 13px;
}

.nav {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  font-weight: 500;
}

.icon {
  padding: 15px;
  border-radius: 7px;
}

.navItem {
  width: 220px;
  padding: 10px 30px 10px 20px;
  border-radius: 7px;
  transition: background-color 250ms ease-out;
}

@media screen and (min-width: 768px) {
  .wrapDesktop {
    display: block;
  }

  .wrapMobile {
    display: none;
  }

  .avatarMobile {
    display: none;
  }

  .avatarDesktop {
    display: flex;
    width: 110px;
    height: 110px;
    margin: 0 auto 30px auto;
  }

  .text {
    margin-bottom: 30px;
  }

  .leftSide {
    margin-top: 110px;
    padding: 25px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tabletWrap,
  .nav {
    flex-basis: 100%;
  }

  .upload {
    top: 80px;
    right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .wrapDesktop {
    margin-top: 130px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .upload {
    top: 80px;
    right: 0;
  }

  .leftSide {
    min-width: 350px;
    margin: 0 0 40px 0;
    display: block;
    padding: 70px 20px;
  }

  .nav {
    align-items: flex-start;
    font-size: 18px;
    gap: 30px;
  }

  .navItem {
    width: 250px;
  }

  .name {
    font-size: 21px;
  }

  .nickName {
    font-size: 17px;
  }

  .area {
    font-size: 15px;
  }
}
