.wrap {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
}

.leftSide {
  margin-left: 40px;
  padding: 70px;
  border-radius: 7px;
  height: 100%;
}

.avatarWraper {
  width: 150px;
  height: 150px;
  margin: 0 auto 40px auto;
  display: flex;
  justify-content: center;
  border-radius: 50%;

  background: conic-gradient(
    from -35.18deg at 50% 50%,
    #006ccf -154.36deg,
    #ff5252 24.13deg,
    #ffb155 118.76deg,
    #006ccf 205.64deg,
    #ff5252 384.13deg
  );
}

.text {
  margin-bottom: 30px;
  text-align: center;
  font-family: var(--font-montserrat);
}

.name {
  font-size: 26px;
}

.nickName {
  font-size: 22px;
}

.area {
  font-size: 20px;
}

.nav {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  font-size: 22px;
  font-weight: 500;
}

.icon {
  padding: 15px;
  border-radius: 7px;
}

.navItem {
  width: 277px;
  padding: 10px 30px 10px 20px;
  border-radius: 7px;
  transition: background-color 250ms ease-out;
}
