.col {
  margin-bottom: 10px;
  font-size: 10px;
  flex-direction: row;
}

.wrap {
  margin-bottom: 30px;
}

.desktopCheckboxes {
  display: none;
}

@media screen and (min-width: 430px) {
  .mobileCheckboxes {
    display: none;
  }

  .desktopCheckboxes {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .col {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .col {
    font-size: 14px;
  }
}
